.doropdown {
    width: 100%;
}

.dropdownButton {
    width: 100%;
    background: var(--white-color);
    border: 1px solid var(--additional-color);
    border-radius: 0.25rem;
    color: var(--main-color);
    height: 3.13rem;
    padding: 0.75rem 1.25rem 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownButton:hover {
    background: var(--white-color);
    border: 1px solid var(--additional-color);
}

.dropdownMenu {
    background-color: var(--background-color);
}

.dropdownList {
    position: absolute;
    width: 36.25rem;
    background: var(--background-color);
    z-index: 1;
}

.dropdownItem {
    width: 100%;
    height: 3.13rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0.75rem 1.2rem 0.75rem 1rem;
    background: var(--background-color);
}

/* .dropdownItem path {
    fill: var(--background-color);
} */

.dropdownItem:hover {
    border: none;
    color: var(--main-color);
    background: var(--white-color);
}

/* .dropdownItem:hover path {
    fill: var(--main-color);
} */

.dropdownItemPlus path:hover {
    fill: var(--hover-color);
}

.dropdownItemMinus path:hover {
    stroke: var(--hover-color);
}

.selectedCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.selectedCategory {
    height: 2.75rem;
    background: var(--accent-color);
    border-radius: 0.25rem;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.375rem;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}
