.link {
    color: var(--main-color);
    font-size: 1.13rem;
    font-weight: 700;
    border: 2px solid var(--main-color);
    border-radius: 0.25rem;
    cursor: pointer;
    height: 3.13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:active {
    color: var(--white-color);
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.link:hover {
    border: 0.13rem solid var(--hover-color);
    border-radius: 0.25rem;
    color: var(--hover-color);
}
