.wrapperCard {
  width: auto;
  padding: 1.9375rem;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.linkEvent {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.linkEvent:hover {
  opacity: 0.7;
}

.linkText {
  text-transform: uppercase;
  font-size: 1.13rem;
  line-height: 1.38rem;
  color: var(--main-color);
  margin-right: 0.6875rem;
}
