.button {
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover path {
  stroke: var(--hover-color);
}

.button:active {
  background-color: var(--additional-color);
}
