.header {
  display: flex;
  justify-content: space-between;
  max-width: 72.5rem;
  margin-bottom: 2.81rem;
}

.hide {
  color: var(--additional-color);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19rem;
}

.hide:hover {
  color: var(--main-color);
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: 20px;
  transition: transform 0.5s ease;
  margin-bottom: 1.56rem;
}

.hideSlider {
  display: flex;
  justify-content: flex-end;
  max-width: 72.5rem;
  height: 1.25rem;
  margin-bottom: 3.75rem;
}
