.cardsEvents {
    margin-bottom: 6.3rem;
    background-attachment: fff;
}

.cardsEventsTitle {
    margin-bottom: 4.375rem;
}

.cardsEventsList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    margin-bottom: 0.88rem;
}

.cardsEventsList::before {
    content: "";
    position: absolute;
    top: 6%;
    left: -40%;
    width: 99vw;
    height: 70%;
    background-color: var(--white-color);
    z-index: -1;
}
