.user {
    height: 6.25rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.userName {
    font-size: 0.88rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: left;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.userAvatar {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 1rem;
}

.userJoined {
    position: relative;
    bottom: 1.875rem;
    transform: scale(1.2);
}

.userStatus {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-align: left;
    color: var(--additional-color);
}
