.container {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 20px;
    justify-content: center;
}

.eventWrapper {
    margin-top: 1.875rem;
    margin-bottom: 6.25rem;
}

.arrowButton {
    width: 3.75rem;
    height: 1.25rem;
    background: none;
    cursor: pointer;
}

.arrowButton:hover,
.arrowButton:hover path {
    stroke: var(--hover-color);
}
