.locationForm {
    display: flex;
    flex-direction: column;
}

.titleInput {
    color: var(--text-color);
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-align: left;
    margin-bottom: 0.125rem;
}

.labelFindMap {
    display: flex;
    justify-content: space-between;
}

.btnFindMap {
    display: flex;
    border: none;
    color: var(--additional-color);
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.63rem;
    text-align: left;
    background: none;
    cursor: pointer;
}

.fieldInput {
    width: 100%;
    background: var(--white-color);
    border: 1px solid var(--additional-color);
    border-radius: 0.25rem;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    height: 3.13rem;
    padding: 0.75rem 0.94rem;
}

.btnFindMap path {
    fill: var(--additional-color);
}

.btnFindMap:hover {
    border: none;
    color: var(--hover-color);
}

.btnFindMap:hover path {
    fill: var(--hover-color);
}

.inputFindMap {
    width: 20rem;
    background: var(--white-color);
    border: 1px solid var(--additional-color);
    border-radius: 0.25rem;
    color: var(--main-color);
    height: 2.6rem;
    padding: 0.75rem 1.25rem 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.buttonBlockMap {
    display: flex;
    justify-content: space-between;
}

.buttonMap {
    width: 10rem;
    height: 3.13rem;
    border: 0.13rem solid var(--main-color);
    border-radius: 0.25rem;
    background: none;
    color: var(--main-color);
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    text-align: center;
    cursor: pointer;
}
