.card {
    background: var(--white-color);
    border-radius: 0.25rem;
    width: 250px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 16px 15px 11px;
}

.fullName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.name {
    line-height: 1.25rem;
    font-weight: 700;
}
