.component {
    /* keep */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
    font-size: 1.3em;
}

.label {
    display: flex;
}

.label > span {
    width: 200px;
}

.button {
    margin-top: 12px;
}
