.filteredEvents {
    display: grid;
    margin-top: 6.88rem;
    max-width: 73.75rem;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 72.5rem;
}

.buttons {
    display: flex;
    gap: 1.25rem;
}
