.textarea {
  width: 100%;
  border: 1px solid var(--additional-color);
  border-radius: 0.25rem;
  color: var(--main-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  padding: 0.875rem 1rem;
}
.textarea::placeholder {
  color: var(--text-color);
}

.resizeNone {
  resize: none;
}

.error {
  color: var(--error-color);
  border-color: var(--error-color);
}
