.guestList {
  width: 72.88rem;
  height: 11.06rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 58px;
}

.guestListWrapper {
  display: flex;
}

.guestListTitle {
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.625rem;
  color: var(--text-color);
}

.questListArrow {
  display: flex;
  justify-content: flex-start;
  margin-right: 1.25rem;
  background: none;
  cursor: pointer;
  transform: rotate(180deg);
}

.questListArrow path:hover {
  stroke: var(--hover-color);
}
