apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: go-with-me
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: registry.digitalocean.com/go-with-me-dev/app:backend-latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "4000"
            - name: SESSION_COOKIE_SECURE
              value: "true"
            - name: SESSION_COOKIE_SAMESITE
              value: "none"
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MONGODB_URI
            - name: CORS_ORIGIN
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: CORS_ORIGIN
            - name: SESSION_COOKIE_DOMAIN
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: SESSION_COOKIE_DOMAIN
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: SESSION_SECRET
            - name: NEXT_PUBLIC_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: NEXT_PUBLIC_BASE_URL
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: go-with-me
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 4000
      targetPort: 4000
