:root {
    --white-color: #ffffff;
    --black-color: #333333;
    --main-color: #091757;
    --accent-color: #e3ef41;
    --background-color: #f7f7fa;
    --text-color: #575b75;
    --additional-color: #a4a7bc;
    --hover-color: #495aa8;
    --error-color: #ff2f3b;
}

/* --scroll-fixed-width */
/* ширина контейнера 1180 или 61,46vw*/
/* отсупы по бокам 740 или 30.54vw */
/* отступ с одной стороны 370 или 15.52vw */

/* нужна переменна которая будет уменьшать отступы */

/* html {

} */

body {
    width: 99.2vw;
    min-height: 100%;
    background: var(--background-color);
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1 {
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.625rem;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
}

p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
select {
    background: var(--white-color);
    border: 1px solid var(--additional-color);
    border-radius: 0.25rem;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    height: 3.13rem;
    padding: 0.75rem 0.94rem 0.75rem 0.94rem;
}

input::-ms-clear {
    display: none;
}

input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button {
    height: 3.13rem;
    border: 0.13rem solid var(--main-color);
    border-radius: 0.25rem;
    background: rgba(9, 23, 87, 0);
    color: var(--main-color);
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background: rgba(9, 23, 87, 0);
    border: 0.13rem solid var(--hover-color);
    color: var(--hover-color);
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 20px;
    justify-content: center;
}
