.authModal {
    background: #f7f7fa;
}

.authModalClose {
    position: relative;
    color: var(--main);
    top: -50px;
    right: -335px;
    cursor: pointer;
}

.authModalWrapper {
    width: 17.7rem;
    height: 24.38rem;
}

.authModalTitle {
    margin-bottom: 2.5rem;
}

.authModalDescription {
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.authModalButtons {
    display: flex;
    margin-bottom: 2.5rem;
}

.authModalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 3.5rem;
    height: 3.125rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: 2px solid var(--main);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1.25rem;
}

.authModalInput {
    width: 100%;
    border: 2px solid var(--additional);
    border-radius: 0.25rem;
    background: var(--white);
}

.authModalFormButton {
    width: 100%;
    background: var(--additional);
    border-radius: 0.25rem;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
    text-align: center;
    margin-top: 1rem;
}

.authModalFormButton:hover {
    color: var(--main);
}

.authModalFormButtonResend {
    border: none;

    color: rgb(87, 91, 117);
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-align: left;
}

.authModalFormButtonResend:hover {
    border: none;
}

.authModalInputNumber {
    width: 100%;
    border: 2px solid var(--additional);
    border-radius: 0.25rem;
    background: var(--white);
}
