.autocomplete {
  background: var(--white-color);
  border: 1px solid var(--additional-color);
  border-radius: 0.25rem;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  height: 3.13rem;
  padding: 0.75rem 0.94rem;
}

.location {
  display: flex;
  flex-direction: column;
}
