.like {
    width: 3.5rem;
    height: 3.13rem;
    border: 0.13rem solid var(--main-color);
    border-radius: 0.25rem;
    background: none;
    padding: 0.94rem 0.81rem 0.94rem 0.81rem;
}

.like:active {
    color: var(--white-color);
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.like:hover path,
.like:hover {
    border: 0.13rem solid var(--hover-color);
    border-radius: 0.25rem;
    color: var(--hover-color);
    stroke: var(--hover-color);
}

.liked > path {
    fill: var(--text-color);
}
