.cardWork {
  border: 0.13rem solid var(--main-color);
  border-radius: 1.25rem;
  width: 35.62rem;
  height: 35.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.81rem 5.59rem 4.88rem 6.22rem;
}

.cardWorkWrapper {
  display: flex;
  flex-direction: column;
  width: 23.75rem;
  height: 27.2rem;
}

.cardWorkTitle {
  margin-bottom: 1.56rem;
}

.cardWorkDescription {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.63rem;
  text-align: left;
}

.cardWorkPicture {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}
