.doropdown {
    width: 100%;
}

.dropdownButton {
    width: 100%;
    background: var(--white-color);
    border: 1px solid var(--additional-color);
    border-radius: 0.25rem;
    color: var(--main-color);
    height: 3.13rem;
    padding: 0.75rem 1.25rem 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.dropdownButton:hover {
    background: var(--white-color);
    border: 1px solid var(--additional-color);
}

.dropdownList {
    background: var(--background-color);
}

.dropdownFilter {
    margin-top: 6px;
    position: absolute;
    border-radius: 0.25rem;
    height: 26.25rem;
    width: 14rem;
    overflow-y: auto;
}

.dropdownItem {
    width: 100%;
    height: 3.13rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0.75rem 1.2rem 0.75rem 1rem;
    background: var(--background-color);
    color: var(--main-color);
}

.dropdownItemFilter {
    font-size: 0.88rem;
    flex-direction: row-reverse;
}

.dropdownItem:hover {
    color: var(--main-color);
    background: var(--white-color);
}

.dropdownItem:hover p {
    color: var(--main-color);
    background: var(--white-color);
}

.dropdownItemText {
    display: flex;
    justify-content: flex-start;
    width: 82%;
}

.dropdownItemPlus path:hover {
    fill: var(--hover-color);
}

.dropdownItemMinus path:hover {
    stroke: var(--hover-color);
}
