.itemContent {
  display: flex;
  align-items: center;

  font: inherit;
  margin-left: 12px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  cursor: pointer;
}

.itemContent,
.plus path {
  fill: none;
  stroke: var(--white-color);
}

.itemContent:hover,
.plus path:hover {
  fill: var(--main-color);
  color: var(--hover-color);
}

.itemContent:hover {
  color: var(--hover-color);
}

.itemContent:hover .plus path {
  fill: var(--main-color);
}

.date {
  font-weight: 700;
  margin: 0 4px 0 6px;
}
