.container {
  margin-bottom: 10.625rem;
}

.form {
  width: 100%;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.formField {
  width: 36.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.btnUpload {
  width: 12.75rem;
  margin-top: 1.125rem;
}

.inputTitle {
  color: var(--text-color);
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 0.125rem;
}

.header {
  font-size: 1.3em;
}

.label {
  display: flex;
  flex-direction: column;
}

.textarea {
  color: var(--text-color);
  height: 7rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  padding: 0.84rem 0.94rem;
}

.description {
  width: 100%;
}

.selectedCategories {
  margin-top: 1.25rem;
}

.titleForm {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
  letter-spacing: 1px;
}

.buttonBlockMap {
  display: flex;
  justify-content: space-between;
}

.confidentialityWrapper {
  display: flex;
  width: 100%;
  gap: 1.625rem;
}

.categories {
  display: flex;
}

.buttonCategory {
  height: 1.69rem;
  background: #a4a7bc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: rgb(87, 91, 117);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.19rem;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.inputsDate {
  display: flex;
  gap: 1.25rem;
}

.uploadFile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 28.75rem;
  height: 24.625rem;
  gap: 1.25rem;
  margin-left: 7.5rem;
}

.preview {
  display: flex;
  width: 28.75rem;
  height: 20.25rem;
  background-color: var(--additional-color);
}

.previewImage {
  width: auto;
  height: auto;
}

.customFileInput {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.customFile {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.customFileInput label {
  display: flex;
  width: 12.75rem;
  height: 3.13rem;
  border: 2px solid var(--main-color);
  border-radius: 0.25rem;
  color: var(--main-color);
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.customFileInput label:hover {
  background: none;
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.sendFile {
  display: flex;
  width: 12.75rem;
  height: 3.13rem;
  border: 2px solid var(--main-color);
  border-radius: 0.25rem;
  color: var(--main-color);
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: none;
}

.sendFile:hover {
  background: none;
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.buttonSaveChange {
  width: 11.44rem;
  height: 3.13rem;
  border: 0.13rem solid var(--main-color);
  border-radius: 0.25rem;
  background: rgba(9, 23, 87, 0);
  color: var(--main-color);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3rem;
}

.buttonSaveChange:hover {
  border: 0.13rem solid var(--hover-color);
  color: var(--hover-color);
}
