.header {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.25rem;
}

.logo {
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    margin-right: 4.375rem;
}

.headerSearch {
    width: 36.25rem;
}

.headerSearchEvent {
    width: 100%;
    height: 3.13rem;
    padding: 0.69rem 1.06rem 0.69rem 1.06rem;
}
