.createAndInvite {
    display: flex;
    align-items: flex-end;
    background-color: var(--accent);
    height: 22rem;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
    padding: 7.3rem 6.25rem;
    justify-content: space-between;
    position: relative;
}

.logoJoin {
    position: absolute;
    right: -3rem;
    top: 2.5rem;
}

.createAndInviteTitle {
    margin-bottom: 2.5rem;
}

.createAndInviteButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.createAndInviteButton {
    width: 10.88rem;
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    margin-right: 1.25rem;
}

.createAndInviteDescr {
    width: 23.63rem;
    color: var(--main);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.88rem;
}
