.card {
    white-space: normal;
    color: var(--main-color);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.88rem;
    margin-top: 1.3rem;
    font-size: 0.88rem;
    font-weight: 500;
}

.details div {
    display: flex;
    align-items: center;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1.56rem;
}

.title {
    font-size: 1.13rem;
    line-height: 1.38rem;
    color: var(--main-color);
    cursor: pointer;
}

.title:hover {
    color: var(--hover-color);
}

.description {
    margin-top: 0.63rem;
    color: var(--text-color);
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.38rem;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.medium {
    width: 27.75rem;
    height: 27.88rem;
    /* margin-bottom: 4.5rem; */
}

.mediumLarge {
    width: 23.75rem;
    height: 27.88rem;
    /* margin-bottom: 4.5rem; */
}

.large {
    width: 22.13rem;
    height: 26.81rem;
}

.smallLarge {
    width: 20.25rem;
    height: 25.56rem;
}

.small {
    width: 19.5rem;
    height: 25rem;
}
