.descriptionLabel {
  display: flex;
  flex-direction: column;
}

.descriptionTitle {
  color: var(--text-color);
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: left;
}

.descriptionText {
  border: 1px solid var(--additional-color);
  border-radius: 0.25rem;
  color: var(--text-color);
  height: 7rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  padding: 0.84rem 0.94rem;
}
