.navigationTabs {
  display: flex;
  gap: 2.625rem;
}

.tabButton {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  line-height: 1.375rem;
  transition:
    color 0.2s,
    opacity 0.2s;
}

.tabButton:hover {
  color: var(--main-color);
  opacity: 1;
}

.tabButton.active {
  font-weight: 700;
  color: var(--main-color);
}

.tabButton:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}
