.notification {
  display: flex;
  width: 48.75rem;
  min-height: 14.44rem;
  background: var(--white-color);
  padding: 32px 32px 28px 32px;
}

.notificationActive {
  background: var(--background-color);
  border-top: 0.06rem solid var(--additional-color);
}

.image {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.title {
  color: var(--text-color);
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 1.38rem;
  text-align: left;
}

.description {
  width: 33.25rem;
  color: var(--text-color);
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.38rem;
  letter-spacing: 0%;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded {
  display: block;
}

.buttonRead {
  color: var(--additional-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19rem;
  text-align: center;
  text-transform: uppercase;
  background: none;
  margin-top: 1.25rem;
  cursor: pointer;
}

.buttonRead:hover {
  color: var(--main-color);
}
