.component {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.trips {
    /* стили для trips */
}

.label {
    display: flex;
}

.titleField {
    width: 200px;
}

.input {
    width: 300px;

}

.button {
    margin-top: 12px;
}
