.modalContent {
  width: 480px;

  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 64px 50px 92px;
}

.modalClose {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modalContent::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.titleModal {
  text-align: center;
  margin-bottom: 27px;
  font-size: 1.13rem;
}

.header {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}

.name {
  color: var(--main-color);
  font-size: 0.88rem;
  font-weight: 600;
  line-height: 1.63rem;
  text-align: left;
}

.buttonOk {
  font-size: 1.13rem;
  margin-top: 4.88rem;
}

.date {
  color: var(--main-color);
  font-weight: 700;
  margin: 0 4px 0 6px;
}
