.modalContent {
    width: 480px;

    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.modelContentMini {
    padding: 64px 72px 82px;
}

.modalClose {
    position: absolute;
    top: 12px;
    right: 12px;
}

.modalContent::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.titleModal {
    text-align: center;
    margin-bottom: 27px;
}

.header {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.list {
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;

    box-sizing: border-box;
    border: 1px solid var(--additional-color);
    border-radius: 4px;
    background: var(--white-color);
}

.message {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 53px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonSend {
    margin-top: 20px;
}
