.title {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.avatar {
    width: 69px;
    height: 69px;
    border-radius: 100%;
    margin-top: 16px;
}

.avatarAndMenu {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.logout {
    border: 1px solid #303030;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: unset;
}

.buttonLogIn {
    width: 10.5rem;
    height: 3.13rem;
    border: 0.13rem solid var(--main-color);
    border-radius: 0.25rem;
    background: rgba(9, 23, 87, 0);
    color: var(--main-color);
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    text-align: center;
    cursor: pointer;
}

.buttonLogIn:hover {
    border: 0.13rem solid var(--hover-color);
    color: var(--hover-color);
}
