.container {
    width: 48.75rem;
    margin-top: 6.25rem;
}

.title {
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.88rem;
    text-align: left;
    margin-bottom: 2.75rem;
}

.userImage {
    border-radius: 100%;
    width: 3.125rem;
    height: auto;
}
