.navbar {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.navbarItem {
    color: var(--additional-color);
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.19rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.navbarItemActive {
    color: var(--main-color);
}
