.profilePage {
  width: var(--desktop-width-container);
}

.formWrapper {
  margin-top: 1.875rem;
  width: 73.75rem;
}

.arrowButton {
  width: 3.75rem;
  height: 1.25rem;
  background: none;
  cursor: pointer;
}

.formTitle {
  width: 14.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--main-color);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-left: 1rem;
}

.avatarTitle {
  display: flex;
  align-items: center;
  margin-top: 2.8rem;
  margin-bottom: 4.375rem;
}

.profile {
  display: flex;
}

.buttonSaveChange {
  width: 11.44rem;
  height: 3.13rem;
  border: 0.13rem solid var(--main-color);
  border-radius: 0.25rem;
  background: rgba(9, 23, 87, 0);
  color: var(--main-color);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17.5rem;
  height: 30.81rem;
  border-radius: 0.25rem;
  padding: 30px 32px 45px 16px;
  background: var(--white-color);
}

.preview {
  display: flex;
  width: 11.25rem;
  height: 11.25rem;
  background-color: var(--additional-color);
}

.buttonsCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}
