.avatar {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.image {
    object-fit: cover;
    border: 0.25rem solid var(--white-color);
    border-radius: 100%;
}

.background {
    background-color: #000;
}
