.createAndInvite {
    display: flex;
    align-items: flex-end;
    background-color: var(--accent-color);
    width: 73.75rem;
    height: 22rem;
    border-radius: 1.25rem;
    margin-bottom: 10.625rem;
    padding: 7.3rem 6.25rem;
    justify-content: space-between;
    position: relative;
}

.createAndInviteWrapper {
    width: 21.88rem;
}

.createAndInviteTitle {
    margin-bottom: 2.5rem;
}

.logoJoin {
    position: absolute;
    right: -3rem;
    top: 2.5rem;
}

.createAndInviteButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.createAndInviteButtonUnAuth {
    width: 10.88rem;
    height: 3.13rem;
    margin-right: 1.25rem;
    background: none;
    border: 0.13rem solid var(--main-color);
    border-radius: 0.25rem;
    background: none;
    color: var(--main-color);
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    text-align: center;
    cursor: pointer;
}

.createAndInviteButtonUnAuth:hover {
    border: 0.13rem solid var(--hover-color);
    border-radius: 0.25rem;
    color: var(--hover-color);
}

.buttonEdit {
    width: 5.94rem;
    height: 3.13rem;
    margin-right: 1.25rem;
    background: none;
    cursor: pointer;
}

.createAndInviteButtonLink {
    padding: 0.88rem 1.88rem;
    color: var(--main-color);
    font-size: 1.13rem;
    font-weight: 700;
    border: 2px solid var(--main-color);
    border-radius: 0.25rem;
    cursor: pointer;
}

.createAndInviteButtonLink:active {
    color: var(--white-color);
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.createAndInviteButtonLink:hover {
    border: 0.13rem solid var(--hover-color);
    border-radius: 0.25rem;
    color: var(--hover-color);
}

.createAndInviteDescr {
    font-size: inherit;
    font-weight: inherit;
    width: 23.63rem;
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.88rem;
}
