.container {
    width: 50rem;
}

.title {
    margin-bottom: 2.75rem;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--main-color);
}

.error {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--error-color);
    cursor: pointer;
}

.commentsList {
    margin-bottom: 1.5rem;
}

.buttonText {
    color: var(--additional-color);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.19rem;
    text-transform: uppercase;
}

.buttonText:hover {
    color: var(--main-color);
}
