.createEventTitle {
  margin-top: 2.8rem;
  margin-bottom: 4.375rem;
  width: 14.25rem;
}

.createEventFormWrapper {
  margin-top: 1.875rem;
  width: 73.75rem;
}

.createEventButton {
  width: 3.75rem;
  height: 1.25rem;
  background: none;
  cursor: pointer;
}

.createEventButton:hover,
.createEventButton path:hover {
  stroke: var(--hover-color);
}

.createEventFormImage {
  width: 32vw;
}

.createEventFormImageButton {
  width: 11.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
  margin-top: 1.25rem;
}
