name: Deploy to Dokploy

permissions:
    contents: read
on:
    push:
        branches:
            # - main # Для автодеплоя DEV при обычном пуше
            - feature/deploy-config
        tags:
            - "v*" # Prod (оба)
            - "b*" # Prod (backend)
            - "f*" # Prod (frontend)

jobs:
    # JOB ДЛЯ БЭКЕНДА
    deploy-backend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            # Проверяем, изменилось ли что-то в папке backend
            - name: Check for backend changes
              uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      backend:
                        - 'backend/**'
                        - '.github/workflows/**'

            # 1. DEV: Пуш в main + изменения в папке backend
            - name: Deploy Backend (Dev)
              if: |
                  github.event_name == 'push' && 
                  github.ref_type != 'tag' && 
                  steps.filter.outputs.backend == 'true'
              run: |
                  curl -L -X POST "${{ secrets.DOKPLOY_DEV_FRONTEND_WEBHOOK }}" \
                  -H "Content-Type: application/json" \
                  -d '{"branch": "feature/deploy-config"}'

            # 2. PROD: Создание тегов v* или b* (фильтр папок тут обычно игнорируем, так как тег — это осознанный релиз)
            - name: Deploy Backend (Prod)
              if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/b')
              run: curl -X POST "${{ secrets.DOKPLOY_PROD_BACKEND_WEBHOOK }}"

    # JOB ДЛЯ ФРОНТЕНДА
    deploy-frontend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            # Проверяем, изменилось ли что-то в папке frontend
            - name: Check for frontend changes
              uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      frontend:
                        - 'frontend/**'
                        - '.github/workflows/**'

            # 1. DEV: Пуш в main + изменения в папке frontend
            - name: Deploy Frontend (Dev)
              if: |
                  github.event_name == 'push' && 
                  github.ref_type != 'tag' && 
                  steps.filter.outputs.frontend == 'true'
              run: curl -X POST "${{ secrets.DOKPLOY_DEV_FRONTEND_WEBHOOK }}"

            # 2. PROD: Создание тегов v* или f*
            - name: Deploy Frontend (Prod)
              if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/f')
              run: curl -X POST "${{ secrets.DOKPLOY_PROD_FRONTEND_WEBHOOK }}"
