name: Deploy to Dokploy

permissions:
    contents: read
on:
    push:
        tags:
            - "v*" # Общий релиз (оба)
            - "b*" # Только бэкенд (backend)
            - "f*" # Только фронтенд (frontend)

jobs:
    deploy-backend:
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/b')
        runs-on: ubuntu-latest
        steps:
            - name: Deploy Backend
              run: |
                  curl -v -L -X 'POST' \
                  "${{ secrets.DOKPLOY_PROD_BACKEND_WEBHOOK }}" \
                  -H 'accept: application/json' \
                  -H 'Content-Type: application/json' \
                  -H 'x-api-key: ${{ secrets.DOKPLOY_TOKEN }}' \
                  -d '{
                    "applicationId": "${{ secrets.DOKPLOY_BACKEND_APP_ID }}"
                  }'

    deploy-frontend:
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/f')
        runs-on: ubuntu-latest
        steps:
            - name: Deploy Frontend
              run: |
                  curl -v -L -X 'POST' \
                  "${{ secrets.DOKPLOY_PROD_FRONTEND_WEBHOOK }}" \
                  -H 'accept: application/json' \
                  -H 'Content-Type: application/json' \
                  -H 'x-api-key: ${{ secrets.DOKPLOY_TOKEN }}' \
                  -d '{
                    "applicationId": "${{ secrets.DOKPLOY_FRONTEND_APP_ID }}"
                  }'
