name: Deploy DEV

permissions:
    contents: read

on:
    push:
        branches:
            - main
        # Фильтры путей на уровне запуска всего Workflow
        paths:
            - "backend/**"
            - "frontend/**"

jobs:
    # Деплой Бэкенда
    deploy-backend:
        runs-on: ubuntu-latest
        steps:
            - name: Check for backend changes
              uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      backend:
                        - 'backend/**'

            - name: Trigger Dokploy Backend Webhook
              if: steps.filter.outputs.backend == 'true'
              run: |
                  curl -X POST "${{ secrets.DOKPLOY_BACKEND_DEV_WEBHOOK }}"

    # Деплой Фронтенда
    deploy-frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Check for frontend changes
              uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      frontend:
                        - 'frontend/**'

            - name: Trigger Dokploy Frontend Webhook
              if: steps.filter.outputs.frontend == 'true'
              run: |
                  curl -X POST "${{ secrets.DOKPLOY_FRONTEND_DEV_WEBHOOK }}"
