.card {
    width: 23.75rem;
    max-height: 27.875rem;
    margin-bottom: 4.5rem;
    white-space: normal;
    overflow: hidden;
    color: var(--main-color);
}

.image {
    width: 100%;
}

.location {
    display: flex;
    margin-top: 1.31rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.63rem;
    text-align: left;
}

.geocoding {
    margin-left: 0.8rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.63rem;
    text-align: left;
    margin-bottom: 1.31rem;
    margin-top: 0.25rem;
}

.time {
    margin-left: 0.6rem;
}

.title {
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.38rem;
    text-align: left;
}

.description {
    margin-top: 0.625rem;
    color: var(--text-color);
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.38rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.checkboxDate {
    margin-right: 0.31rem;
}
