.tagLabel {
  display: flex;
  flex-direction: column;
}

.tagTitle {
  color: var(--text-color);
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 0.125rem;
}

.tagInput {
  width: 100%;
  background: var(--white-color);
  border: 1px solid var(--additional-color);
  border-radius: 0.25rem;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  height: 3.13rem;
  padding: 0.75rem 0.94rem;
}

.tagInputWrapper {
  position: relative;
  width: 100%;
}

.tagButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.tagButton path:hover {
  fill: var(--hover-color);
}

.selectedTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.selectedTag {
  height: 2.75rem;
  background: var(--accent-color);
  border-radius: 0.25rem;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.375rem;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.selectedTag path:hover {
  stroke: var(--hover-color);
}
